@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 240deg 5% 95%;
  --color-content: 240deg 5% 15%;
  --color-accent: 25deg 100% 50%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: 240deg 5% 95%;
    --color-content: 240deg 5% 15%;
    --color-accent: 25deg 100% 50%;
  }
}

body {
  color: hsl(var(--color-content));
  background: linear-gradient(
      to bottom,
      transparent,
      hsl(var(--color-background))
    )
    hsl(var(--color-accent));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
