@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 240deg 5% 95%;
  --color-content: 240deg 5% 15%;
  --color-accent: 40deg 100% 65%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: 240deg 5% 95%;
    --color-content: 240deg 5% 15%;
    --color-accent: 40deg 100% 65%;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: hsl(var(--color-content));
  background-color: white;
}

@layer components {
  .center {
    @apply flex flex-col items-center justify-center;
  }

  .link {
    @apply text-black hover:text-accent transition-colors;
  }

  .input {
    @apply border rounded-lg px-4 h-10 bg-content/5;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
