@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 240deg 5% 95%;
  --color-content: 240deg 5% 15%;
  --color-accent: 40deg 100% 65%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: 240deg 5% 95%;
    --color-content: 240deg 5% 15%;
    --color-accent: 40deg 100% 65%;
  }
}

body {
  color: hsl(var(--color-content));
  background-color: hsl(var(--color-background));
  height: 100svh;
}

@layer components {
  .center {
    @apply flex flex-col items-center justify-center;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
